---
import TechTag from "./TechTag.astro";

interface props {
  title: string;
  description: string;
  image: string;
  href: string;
  tags: string[];
}
const { title, description, image, href, tags } = Astro.props;
---
<article>
  <a href={href} class="card lg:card-side bg-base-100 shadow-2xl hover:shadow-2xl transition-shadow duration-300 border border-base-300 hover:border-base-200 hover:scale-[1.01] transform-gpu">
    <figure>
      <img src={image} alt={title} class="w-full h-48 object-cover lg:h-auto lg:w-48" />
    </figure>
    <div class="card-body">
      <h2 class="card-title text-2xl font-bold">{title}</h2>
      <p class="text-base-content/70">{description}</p>
      <div class="card-actions justify-end flex-wrap gap-2">
        {
          tags && tags.slice(0, 5).map((tag) => (
            <TechTag tech={tag} />
          ))
        }
      </div>
    </div>
    <div class="absolute top-4 right-4 w-7 h-7 opacity-70 hover:opacity-100 transition-opacity duration-300">
      <img class="w-full h-full object-contain" src="/link.svg" alt="">
    </div>
  </a>
</article>